extends layout

block content
  h1= title
  p Welcome to #{title}

block footer
  p This is footer for the #{title} website!
  ul(class='footer-resources')
    li Resource 1
    li Resource 2
    li Resource 3